
<div class="container">

    <h1 class="text-center">{{ tutorial.title }}</h1>

    <img src="{{ tutorial.imgPath }}" alt="">

    <h1 class="text-center">{{ tutorial.youtubeID }}</h1>

    <h1 class="text-center">{{ tutorial.shortDesc }}</h1>

    <h1 class="text-center">{{ tutorial.longDesc }}</h1>

    <a href="{{ tutorial.filesNeeded1 }}">{{ tutorial.filesNeeded1Title }}</a>

    <a href="{{ tutorial.filesNeeded2 }}">{{ tutorial.filesNeeded2Title }}</a>

    <a href="{{ tutorial.filesNeeded3 }}">{{ tutorial.filesNeeded3Title }}</a>

</div>


